.selected-instrument-section {
  border: 1px solid black;
  border-radius: 10px;
  min-width: 340px;
  text-align: center;
}

.chart-section {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
